@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>

      <p><b><i>“Come and pay a visit to Marlowe Vineyard, located in beautiful wine country just north of Los Santos. It's a beautiful drive home!”</i> </b> 
— Grand Theft Auto V digital manual.</p>
<br />


<p>The Marlowe Vineyards (also called Marlowe Valley) is a winery in Grand Theft Auto V and Grand Theft Auto Online located on Buen Vino Road in the Tongva Hills of northern Los Santos County, San Andreas. </p>
<a href="https://gta.fandom.com/wiki/Marlowe_Vineyards#:~:text=The%20Marlowe%20Vineyards%20(also%20called,Los%20Santos%20County%2C%20San%20Andreas."> Learn more about the GTA wine industry</a>
<br />
<img src="../../img/logo.png" class="img-fluid rounded">
</div>